body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    background-color:#b7f8f2;
    color: #0b0b0b;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    background-color: rgb(244, 244, 197);
    border-radius: 15px;
    color: #eb9307;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgb(244, 244, 197);
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(23, 23, 23, 0.1);
    text-align: center;
}
h2 {
    color: #D68910;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

table, th, td {
    border: 1px solid #040303;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: left;
}


.img-anime {
    width: 200px;
    height: 300px;
}


/* 
*{
    margin: 10;
    padding: 10;
    font-family: 'Times New Roman', Times, serif;
} */

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(244, 244, 197);
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
    color:  #D68910;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel hi{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: #D68910;
}

.detel p{
    color: black;
    line-height: 22px;
}
.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

/* li{
    display: flex;
    margin: 0 10px;
    justify-content: center;
} */

